@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome, Edge, Opera and Firefox */
}

.hidden { 
    display: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    --grid-background: #9e9e9e;
    --grid-line-color: #5f5f5f;
    --grid-border-color: #5f5f5f;

    --toolbar-color: #535353;
    --toobar-open-button-hover-color: #5c5c5c;
    --toolbar-button-color: #747474;
    --toolbar-button-icon-color: #bdbdbd;
    --toolbar-button-hover-color: #d3d3d3;
    --toolbar-button-hover-icon-color: #666666;
    /* --toolbar-button-hover-color: ; */
    --toolbar-disabled-button-color: #5a5a5a;
    --toolbar-disabled-button-icon-color: #818080;

    --prompt-exit-button-color: #ce8484;
    --prompt-exit-button-hover-color: #aa6e6e;
    --prompt-text-color: var(--toolbar-button-icon-color);
    --prompt-background-color: var(--toolbar-color);
    --prompt-button-text-color: var(--prompt-text-color);
    --prompt-button-color: var(--toolbar-button-color);
    --prompt-button-hover-color: var(--toolbar-button-hover-color);
    --prompt-button-text-hover-color: var(--toolbar-button-hover-icon-color);

    --dropdown-background-color: #6e6e6e;
    --dropdown-highlight-color: var(--prompt-button-hover-color);
    /* #4a586d; */
    --dropdown-text-color: var(--prompt-text-color);
    --dropdown-hover-text-color: var(--prompt-button-text-hover-color);
}

canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--grid-background);
}


/* MAIN TOOLBAR */


div.main-toolbar.closed {
    transform: translate(calc(50vw - 50%), calc(100% + 1px));
}

div.main-toolbar {
    position: fixed;
    height: 96px;
    width: 725px;
    background-color: var(--toolbar-color);
    border-radius: 15px 15px 0 0;
    border: 1px solid #707070;
    bottom: -1px;
    transform: translate(calc(50vw - 50%), calc(0% + 1px));
    transition: transform 0.5s;
}


button.toolbar-opener {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 148px;
    height: 32px;
    background-color: var(--toolbar-color);
    border-radius: 12px 12px 0 0;
    border: 1px solid #707070;
    margin: auto;
}

button.toolbar-opener:hover {
    background-color: var(--toobar-open-button-hover-color);
    cursor: pointer;
}

.toolbar-opener > svg.closed {
    transform: translate(-50%, -50%) scaleY(1);
}

.toolbar-opener > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(-1);
    transition: transform 0.5s;
    fill: var(--toolbar-button-icon-color);
}

button.toolbar-opener .bottom-cover {
    width: 100%;
    height: 1px;
    background-color: var(--toolbar-color);
    position: absolute;
    bottom: -1px;
    left: 0;
}

div.playback-buttons-container {
    height: 60px;
    width: 130px;
}

.playback-buttons-container > .half-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

div.main-buttons-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button .active-button {
    background-color: #c4ffc9;
}

.main-button {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #707070;
    background-color: var(--toolbar-button-color);
    padding: 0;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button.small-button {
    width: 60px;
    height: 26px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#skipBackwardButton > svg {
    transform: rotate(180deg);
}

.speed-scale-label {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: var(--toolbar-button-icon-color);
}

.main-button > svg {
    height: 33px;
    width: 33px;
    fill: var(--toolbar-button-icon-color);
}

.small-button > svg {
    height: 16px;
    width: 16px;
}

svg {
    fill: black;
}

.main-button:not(.disabled-button):hover {
    background-color: var(--toolbar-button-hover-color);
    /* box-shadow: 0 0 2px 3px rgba(0,0,0,0.1); */
    cursor: pointer;
}

.main-button:not(.disabled-button):hover > svg {
    fill: var(--toolbar-button-hover-icon-color);
}

.main-button:not(.disabled-button):hover .speed-scale-label{
    color: var(--toolbar-button-hover-icon-color);
}

/* .main-button:not(.disabled-button):hover > svg {
    fill: rgb(0, 0, 0);
} */

button:focus {
    outline: none;
}

button:not(.disabled-button):hover {
    cursor: pointer;
}

.disabled-button {
    background-color: var(--toolbar-disabled-button-color);
    border: none;
}

.disabled-button > svg {
    fill: var(--toolbar-disabled-button-icon-color);
}

/* CLEAR PROMPT */

div.clear-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 492px;
    height: 147px;
    background-color: var(--prompt-background-color);
    border-radius: 12px;
    border: 1px solid #707070;
}

.close-prompt {
    background-color: var(--prompt-exit-button-color);
    width: 27px;
    height: 27px;
    border-radius: 6px;
    border: 1px solid #707070;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-prompt:hover {
    background-color: var(--prompt-exit-button-hover-color);
    cursor: pointer;
}

.close-prompt > svg {
    width: 13px;
    height: 13px;
}

.prompt-title {
    color: var(--prompt-text-color);
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.clear-prompt-button-container {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.clear-prompt-button-container > button {
    width: 172px;
    height: 30px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prompt-button-color);
    border-radius: 10px;
    border: 1px solid #707070;
}

.clear-prompt-button-container > button > p {
    color: var(--prompt-button-text-color);
}

.clear-prompt-button-container > .main-button:hover {
    box-shadow: 0 0 5px 10px rgba(0,0,0,0.01);
    background-color: var(--prompt-button-hover-color);
}

.clear-prompt-button-container > .main-button:hover > p {
    color: var(--prompt-button-text-hover-color);
}

.clear-prompt-button-container > button > p {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}


/* SETTINGS PROMPT */

.settings-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 492px;
    height: 196px;
    background-color: var(--prompt-background-color);
    border: 1px solid #707070;
    border-radius: 15px;
    z-index: 0;
}

.prompt-content {
    /* width: 100%; */
    margin-top: 20px;
    padding: 0 20px 0 20px;
    /* background-color: #acabab; */
    z-index: 0;
    /* This generates a new stacking context */
    transform: translate(0,0); 
}

.content-row {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-row-right-half > p, .content-row-left-half > p {
    color: var(--prompt-text-color);
}

.content-row-left-half, .content-row-right-half {
    display: inline-flex;
    width: 49.5%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.dropdown {
    display: inline-block;
    width: 172px;
    height: 30px;
    /* background-color: #FFFFFF; */
    /* border-radius: 9px;
    border: 1px solid #707070; */
    /* z-index: 3; */
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-label {
    display: inline;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.active-dropdown-background {
    background-color: var(--dropdown-background-color);
    border-radius: 9px;
    border: 1px solid var(--prompt-text-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.active-dropdown-background:hover {
    background-color: var(--dropdown-highlight-color);
}

.active-dropdown-value {
    color: var(--dropdown-text-color);
    font-weight: bold;
}

.active-dropdown-background:hover > .active-dropdown-value {
    color: var(--prompt-button-text-hover-color);
}

.dropdown-options-container {
    /* background-color: #FFFFFF; */
    /* border-radius: 9px; */
    /* border: 1px solid #707070; */
    z-index: 100;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(calc(-50% + 1px));
}

.dropdown-option:first-child {
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    border-top: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: var(--prompt-text-color);
}

.dropdown-option:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: var(--prompt-text-color);
}

.dropdown-option:not(.dropdown-option:first-child, .dropdown-option:last-child) {
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: var(--prompt-text-color);
}

.dropdown-option {
    background-color: var(--dropdown-background-color);
    height: 30px;
    width: 172px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-option > span {
    color: var(--dropdown-text-color);
}

.dropdown-option:hover {
    background-color: var(--dropdown-highlight-color);
}

.dropdown-option:hover > span {
    color: var(--dropdown-hover-text-color);
}

.dropdown-option-label {
    font-weight: bold;
}


/* ------------------ ANIMATIONS ------------------ */
